.checkbox_square-green, .radio_square-green {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(../img/green-sprite.png) no-repeat;
    border: none;
    cursor: pointer;
    position: relative;
    background-position: 0 0;
}
.check-helper {
	position: absolute; 
	top: 0%; 
	left: 0%; 
	display: block; 
	width: 100%; 
	height: 100%; 
	margin: 0px; 
	padding: 0px; 
	border: 0px; 
	opacity: 0; 
	background: rgb(255, 255, 255);
}
.checkbox_square-green input {
	position: absolute; 
	opacity: 0;
}
.checkbox_square-green.hover, .checkbox_square-green:hover, .i-checks label:hover .checkbox_square-green {
    background-position: -24px 0;
}
.i-checks label div.checkbox_square-green.checked {
    background-position: -48px 0;
}
#page-container .news-image img {
    position: absolute;
    max-height: 100%;
    min-width: 100%;
    top: -1960px;
    bottom: -1960px;
    left: -1960px;
    right: -1960px;
    margin: auto;
    max-width: initial;
}
.news-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
.news-feed {
    position: fixed;
    left: 0;
    right: 500px;
    top: 0;
    bottom: 0;
    -webkit-transform: translateZ(0);
    overflow: hidden;
}
.news-caption {
    background: rgba(0,0,0,.7);
    color: #999;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 60px;
    font-size: 14px;
    z-index: 20;
    font-weight: 300;
    min-width: 680px;
}
.news-caption .caption-title {
    color: #fff;
    color: rgba(255,255,255,.8);
    font-weight: 300;
    font-size: 28px;
}
.text-success {
    color: #00acac!important;
}
.main-page .login.bg-black {
	float: right;
    width: 500px;
    position: initial;
   	margin: 100px 0;
	max-width: initial;
}
.text-theme, .sidebar ul.sub-menu > li.sites-list > a:before {
    content: initial;
}
.site-add-form, .user-add-form {
     padding-bottom: 25px;
}
.site-add-form .form-group, .user-add-form .form-group {
    padding-left: 0px;
}
.site-add-form #host, .user-add-form #host {
    width: 100%;
}

td.actions i.fa {
    cursor: pointer;
}
