<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $chatSetting->chat_id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $chatSetting->chat_id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Chat Settings'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Chats'), ['controller' => 'Chats', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Chat'), ['controller' => 'Chats', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="chatSettings form large-9 medium-8 columns content">
    <?= $this->Form->create($chatSetting) ?>
    <fieldset>
        <legend><?= __('Edit Chat Setting') ?></legend>
        <?php
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
