<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Chat Setting'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Chats'), ['controller' => 'Chats', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Chat'), ['controller' => 'Chats', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="chatSettings index large-9 medium-8 columns content">
    <h3><?= __('Chat Settings') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th><?= $this->Paginator->sort('chat_id') ?></th>
                <th><?= $this->Paginator->sort('created') ?></th>
                <th><?= $this->Paginator->sort('modified') ?></th>
                <th class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($chatSettings as $chatSetting): ?>
            <tr>
                <td><?= $chatSetting->has('chat') ? $this->Html->link($chatSetting->chat->id, ['controller' => 'Chats', 'action' => 'view', $chatSetting->chat->id]) : '' ?></td>
                <td><?= h($chatSetting->created) ?></td>
                <td><?= h($chatSetting->modified) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $chatSetting->chat_id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $chatSetting->chat_id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $chatSetting->chat_id], ['confirm' => __('Are you sure you want to delete # {0}?', $chatSetting->chat_id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
        </ul>
        <p><?= $this->Paginator->counter() ?></p>
    </div>
</div>
